/*
** override bootstrap existing values (Except basic which does not exist in bootstrap):
** https://getbootstrap.com/docs/4.0/getting-started/theming/
*/
$primary: #53d69a;
$secondary: #3d3d3d;
$success: #32c482;
$info: #3884ba;
$warning: #ffac41;
$danger: #ff7441;
